@media (max-width:575.98px) {
  .header_contact {
    display: flex !important;
    justify-content: space-around !important;
  }

  .header_contact p {
    padding: 0 !important;
    font-size: 10px !important;
    border: none !important;
    /* padding-right:5px !important ; */
  }

  header .header_social {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
  }

  header .header_social a {
    margin: 0;
  }

  .menu button {
    border: none;
  }

  .menu button i {
    color: white;
    font-size: 25px;
  }

  .navbar-toggler:focus {
    box-shadow: none;
  }
  .menu ul{
    margin-top: 20px;
  }

  .menu ul li{
    margin: 0; 
  }
  .menu ul li a{
    margin: 10px 0;
  }
  .menu ul li .nav_con_btn {
    margin: 0 !important;
  }

  #banner {
   
    padding: 155px 0 215px 0;
  }

  #banner .banner_text h1 {
    font-size: 40px;
    line-height: 55px;
    /* text-align: center; */
}


#blog .blog_head_left h2 {
  font-size: 35px;
  line-height: 45px;
 text-align: center;
}

#blog .blog_head_right p {
  
  padding-top: 15px;
  text-align: justify;
}

#service .service_head .service_head_text {
  width: 100%; 
   margin-right: 0;
}

#service .service_head .service_head_text h2 {
  font-weight: 700;
  font-size: 50px;
  padding-bottom: 20px;
}

#service .service_head .service_head_text p {
  font-weight: 500;
padding-bottom: 30px;
}

#service .service_item {

  padding-left: 20px;
}

#about .about_text {
  text-align: center;
  padding: 85px 0px;
}


#card .card_item {
  padding: 75px 20px 55px 25px;
  margin: 0 5px;
}

.map_btn{
  margin-bottom: 30px;
}
footer {
  padding-bottom: 70px;
}
.footer_contact{
  text-align: center;
}

.footer_list{
  margin-top: 30px;
}

.copyright_text{
  text-align: center;
}

}

@media (min-width:576px) and (max-width:767.98px) {
  .header_contact {
    display: flex !important;
    justify-content: space-around !important;
  }

  .header_contact p {
    padding: 0 !important;
    font-size: 10px !important;
    border: none !important;
    /* padding-right:5px !important ; */
  }

  header .header_social {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
  }

  header .header_social a {
    margin: 0;
  }

  .menu button {
    border: none;
  }

  .menu button i {
    color: white;
    font-size: 25px;
  }

  .navbar-toggler:focus {
    box-shadow: none;
  }
  .menu ul{
    margin-top: 20px;
  }

  .menu ul li{
    margin: 0; 
  }
  .menu ul li a{
    margin: 10px 0;
  }
  .menu ul li .nav_con_btn {
    margin: 0 !important;
  }

  #banner {
   
    padding: 155px 0 215px 0;
  }

  #banner .banner_text h1 {
    font-size: 40px;
    line-height: 55px;
    /* text-align: center; */
}


#blog .blog_head_left h2 {
  font-size: 35px;
  line-height: 45px;
 text-align: center;
}

#blog .blog_head_right p {
  
  padding-top: 15px;
  text-align: justify;
}

#service .service_head .service_head_text {
  width: 100%; 
   margin-right: 0;
}

#service .service_head .service_head_text h2 {
  font-weight: 700;
  font-size: 50px;
  padding-bottom: 20px;
}

#service .service_head .service_head_text p {
  font-weight: 500;
padding-bottom: 30px;
}

#service .service_item {

  padding-left: 20px;
}

#about .about_text {
  text-align: center;
  padding: 85px 0px;
}


#card .card_item {
  padding: 75px 20px 55px 25px;
  margin: 0 5px;
}

.map_btn{
  margin-bottom: 30px;
}
footer {
  padding-bottom: 70px;
}
/* .footer_contact{
  text-align: center;
} */

.footer_list{
  margin-top: 30px;
}

.copyright_text{
  text-align: center;
}
}

@media (min-width:768px) and (max-width:991.98px) {
  .header_contact {
    display: flex !important;
    justify-content: space-around !important;
  }

  .header_contact p {
    padding: 0 !important;
    font-size: 10px !important;
    border: none !important;
    /* padding-right:5px !important ; */
  }

  header .header_social {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
  }

  header .header_social a {
    margin: 0;
  }

  .menu button {
    border: none;
  }

  .menu button i {
    color: white;
    font-size: 25px;
  }

  .navbar-toggler:focus {
    box-shadow: none;
  }
  .menu ul{
    margin-top: 20px;
  }

  .menu ul li{
    margin: 0; 
  }
  .menu ul li a{
    margin: 10px 0;
  }
  .menu ul li .nav_con_btn {
    margin: 0 !important;
  }

  #banner {
   
    padding: 155px 0 215px 0;
  }

  #banner .banner_text h1 {
    font-size: 40px;
    line-height: 55px;
    /* text-align: center; */
}


#blog .blog_head_left h2 {
  font-size: 35px;
  line-height: 45px;
 text-align: center;
}

#blog .blog_head_right p {
  
  padding-top: 15px;
  text-align: justify;
}

#service .service_head .service_head_text {
  width: 100%; 
   margin-right: 0;
}

#service .service_head .service_head_text h2 {
  font-weight: 700;
  font-size: 50px;
  padding-bottom: 20px;
}

#service .service_head .service_head_text p {
  font-weight: 500;
padding-bottom: 30px;
}

#service .service_item {

  padding-left: 20px;
}

#about .about_text {
  text-align: center;
  padding: 85px 0px;
}


#card .card_item {
  padding: 75px 20px 55px 25px;
  margin: 0 5px;
}

.map_btn{
  margin-bottom: 30px;
}
footer {
  padding-bottom: 70px;
}


.footer_list{
  margin-top: 30px;
}

.copyright_text{
  text-align: center;
}
}