#about {
  padding: 130px 0;
  background-color: #F0F0F0;

  .about_text {
    background-color: #F40404;
    padding: 85px 115px;
    height: 100%;

    h2 {
      font-weight: 700;
      font-size: 36px;
      line-height: 54px;
      color: #FFFFFF;
    }
  }

  .about_bg {
    background: url(../images/about.png) no-repeat center / cover;
    padding: 160px 0 140px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      padding: 14px 30px;
      background-color: white;
      font-weight: 600;
      font-size: 16px;
      color: #F40404;
      text-transform: capitalize;
    }
  }
}